beautifulsoup4==4.6.0
blessings==1.6
bpython==0.16
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
cloudinary==1.12.0
curtsies==0.2.11
demjson==2.2.4
Django==2.0.2
django-jet==1.0.7
docutils==0.14
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
lxml==4.1.1
mock==2.0.0
pbr==5.1.1
pika==0.11.2
pipdeptree==0.11.0
pkg-resources==0.0.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.4
pycapella==0.1.5
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
sentry-sdk==0.6.6
six==1.11.0
titlecase==0.12.0
urllib3==1.26.5
vk==2.0.2
wcwidth==0.1.7
XlsxWriter==1.0.2
