beautifulsoup4==4.6.0
blessings==1.6
bpython==0.16
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
curtsies==0.2.11
demjson==2.2.4
Django==2.0.2
django-excel-response2==2.0.8
django-six==1.0.4
greenlet==0.4.12
gunicorn==19.7.1
hawkcatcher==1.0.1
idna==2.6
lxml==4.1.1
psycopg2-binary==2.7.4
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
screen==1.0.1
six==1.11.0
titlecase==0.12.0
urllib3==1.22
wcwidth==0.1.7
XlsxWriter==1.0.2
