{% extends 'base.html' %}

{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <header class="page_title">{{ page_title }}</header>
    <form class="login_form" id="loginForm" action="/accounts/login/" method="POST">
        {% csrf_token %}
        {% if error %}
        <div class="error">
            <b class="error_title">
                <span class="fa fa-exclamation-circle"></span>
                Ошибка
            </b>
            <span class="error_message">{{ error }}</span>
        </div>
        {% endif %}
        <label class="input_label label_email" for="email">Адрес электронной почты</label>
        <input class="input_text" type="email" name="email" placeholder="Адрес электронной почты">
        <label class="input_label label_password" for="email">Пароль</label>
        <input class="input_text" type="password" name="password" placeholder="Пароль">
        <input class="submit_button" type="submit" value="Войти">
        <div class="text_block">
            <a class="register_link" href="/accounts/register/">Зарегистрироваться</a>
            <a class="recover_link" href="/accounts/recover/">Забыли пароль?</a>
        </div>
    </form>
{% endblock %}
