body {
    margin : 0;
    padding : 0;
    font-family : 'Roboto', sans-serif;
    font-size : 1.2rem;
    background : #2f3535;
}

.disabled {
    display : none !important;
}

.container {
    width : 400px;
    margin : 100px auto 0;
    overflow : hidden;
    border-radius : 3px;
    background : #3f4545;
}

.container__title-wrap {
    position : relative;
    height : 70px;
    border-bottom : 1px solid #2f3535;
    text-align : center;
}

.container__title {
    line-height : 70px;
    font-size : 3rem;
    font-family : 'Righteous', sans-serif;
    color : white;
    text-decoration : none;
}

.progress_bar {
    position : absolute;
    width : 0;
    height : 3px;
    bottom : 0;
    left : 0;
    background : dodgerblue;
}

.container__body {
    display : flex;
    height : 300px;
    padding : 10px 50px;
    box-sizing : border-box;
    flex-direction : column;
    align-items : center;
    justify-content : space-evenly;
    color : white;
}

.sup {
    margin : 0;
}

.sub {
    margin : 0;
    font-size : 0.75rem;
    color : gray;
}

.button_set {
    display : inline-flex;
    width : 100%;
    align-items : center;
    justify-content : space-between;
}

.button {
    padding : 10px 40px;
    box-sizing : border-box;
    border : 1px solid #17e;
    border-radius : 3px;
    text-align : center;
    letter-spacing : 1px;
    font-size : 1rem;
    background : dodgerblue;
    cursor : pointer;
}

.button:hover {
    border-color : #16d;
    background : #1981f8;
}

.button:active,
.button.active {
    border-color : #15c;
    background : #1375ec;
}

.button.submit {
    width : 100%;
}

.input {
    width : 100%;
    margin : 0 20px;
    padding : 10px 20px;
    box-sizing : border-box;
    border : none;
    border-radius : 3px;
    font-size : 1.2rem;
}

.loading-animation {
    width : 100px;
    height : 100px;
    stroke : white;
    transform-origin : center center;
    animation : rotate 1.5s linear infinite;
}

.loading-animation__circle {
    stroke-dasharray : 1, 400;
    stroke-dashoffset : 0;
    stroke-linecap : round;
    animation : dash 1.25s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform : rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray : 1, 400;
        stroke-dashoffset : 0;
    }

    50% {
        stroke-dasharray : 178, 400;
        stroke-dashoffset : -70px;
    }

    100% {
        stroke-dasharray : 178, 400;
        stroke-dashoffset : -248px;
    }
}

.price-link {
    text-decoration : none;
    color : white;
}

.container__item {
    width : 100%;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-between;
}

.sup-item {
    flex-basis : 500px;
    text-align : center;
}

.item {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.item__cover {
    height : 150px;
}

.item__title {
    height : 120px;
    text-align : center;
    font-size : 0.85rem;
}

.item__cover--prev {
    height : 120px;
}

.item__title--prev {
    font-size : 0.7rem;
}
