<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% load basetags %}
    <meta charset="utf-8">
    <title>{% block title %}Магазин комиксов и фигурок THE EDGE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% block add_css %}{% endblock %}
</head>
<body>
{% block header %}
    <header class="header">
        <div class="header_content centered">
            <div class="logo">EDGE</div>
            <div class="info">
                <div class="social clearfix">
                    <a class="social_icon" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="social_icon" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="social_icon" href="#"><span class="fa fa-vk"></span></a>
                </div>
                <div class="info_bar">
                    <form class="search">
                        <input class="searchbar" type="text" name="q" placeholder="Искать на сайте">
                        <button class="search_button">Поиск</button>
                    </form>
                    <div class="phone">
                        <span class="phone_icon fa fa-phone"></span>
                        <span class="phone_number">+7&nbsp;(912)&nbsp;345-67-89</span>
                    </div>
                </div>
            </div>
            <div class="catalog">
                <span class="catalog_icon fa fa-bars"></span>
                <span class="catalog_text">Каталог</span>
            </div>
            <nav class="navbar">
                <a class="nav_item" href="/">
                    <span class="nav_item_icon fa fa-home"></span>
                    <span class="nav_item_text">Главная</span>
                </a>
                <a class="nav_item" href="/accounts/profile/">
                    <span class="nav_item_icon fa fa-user"></span>
                    <span class="nav_item_text">Аккаунт</span>
                </a>
                <a class="nav_item" href="/cart/">
                    <span class="nav_item_icon fa fa-shopping-cart"></span>
                    <span class="nav_item_text">Корзина</span>
                </a>
                {% if user.is_staff %}
                <a class="nav_item" href="/admin/">
                    <span class="nav_item_icon fa fa-database"></span>
                    <span class="nav_item_text">Панель администрирования</span>
                </a>
                {% endif %}
                <div class="nav_item cart_dropdown_button" id="cartDropdownToggle">
                    <span class="cart_dropdown_icon fa fa-shopping-cart"></span>
                    <span class="cart_dropdown_count badge" id="cartDropdownCounter">0</span>
                    <span class="cart_dropdown_icon fa fa-angle-down"></span>
                    <div class="cart_dropdown_menu_wrap" id="cartDropdownMenu">
                        <div class="cart_dropdown_menu">
                            <div class="cart_dropdown_overall">
                                <div class="quantity">
                                    <span class="fa fa-shopping-cart"></span>
                                    <span class="cart_dropdown_count badge" id="cartDropdownCounterInner">0</span>
                                </div>
                                <div class="overall">
                                    <span class="overall_text">Стоимость: </span>
                                    <span class="overall_price" id="cartDropdownOverall">0р.</span>
                                </div>
                            </div>
                            <div class="cart_dropdown_items_wrap">
                                <ul class="cart_dropdown_items" id="cartDropdownItems"></ul>
                            </div>
                            <a class="cart_dropdown_checkout" id="cartDropdownCheckout" href="/order/checkout/">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="main centered">
        <aside class="aside">
        {% block aside %}
            <ul class="aside_categories">
            {% for category in categories %}
                <li class="aside_category">{{ category.category.title }}</li>
            {% endfor %}
            </ul>
        {% endblock %}
        </aside>
        <section class="main_content">
            {% block content %}{% endblock %}
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer" id="footer">

    </footer>
{% endblock %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/domFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cartDropdown.js' %}"></script>
{% block add_js %}{% endblock %}
</body>
</html>
