<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Загрузчик обложек в ВКонтакте</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/vkuploader.css' %}">
</head>
<body>

    <script type="text/javascript" src="/static/js/receiver.js"></script>
    <script type="text/javascript" src="/static/js/vkUploader.js"></script>
    <script type="text/javascript" src="/static/js/vkUploaderControls.js"></script>
</body>
</html>
